<div style="display:none;" id="templates">

	<button data-template-name="day-btn" class="btn btn-circle day-btn"></button>


	<div data-template-name="itinerary-item" class="itinerary-item">
		<span class="title"></span><!--
	 --><span class="remove">
			<button class="btn btn-danger btn-xs btn-circle pull-right">x</button>
		</span>
	</div>

	<div data-template-name="itinerary" class="panel-body">
		<div>
			<h4>My Hotels</h4>
			<ul class="hotel-list list-group">
				
			</ul>
		</div>
		<div>
			<h4>My Restaurants</h4>
			<ul class="restaurant-list list-group">
				
			</ul>
		</div>
		<div>
			<h4>My Things To Do</h4>
			<ul class="thingsToDo-list list-group">
				
			</ul>
		</div>
	</div>

</div>